/* game board table */

body {

  background: hsla(218, 54%, 58%, 1);

  background: linear-gradient(90deg, hsla(218, 54%, 58%, 0.5) 0%, hsla(219, 56%, 67%, 0.5) 34%, hsla(0, 69%, 68%, 0.5) 66.66666666666667%, hsla(56, 69%, 68%, 0.5) 100%);
  
}


#board td {
  width: 50px;
  height: 50px;
  border: solid 5px #1348a2;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/*make pieces red/blue,  depending on player 1/2 piece */

.piece.p1 {
  background-color: #ff0000;
}

.piece.p2 {
  background-color: #fff000;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px grey;
}

#column-top td:hover {
  background-color: #FBEA89;
}

.container {
  display: flex; 
  justify-content: center;
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'Ranchers', cursive;
  font-size: 1.6rem;
  color: #ff0000;
}

div h2 {
  font-family: 'Ranchers', cursive;
  color: #ff0000;
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}


